//----------------------------------*\
// SIZE
//----------------------------------*/

$A4-width = 210mm
$A4-height = 297mm

$white-space-size = 12mm
$line-height = 1.42857143


//----------------------------------*\
// BREAKPOINTS
//----------------------------------*/

$breakpoint-print = $A4-width

//----------------------------------*\
// TYPO
//----------------------------------*/

$font-path='/static/fonts'
$font-family = 'Open Sans', 'Kai Gen Gothic', 'Kai Gen Gothic Medium', sans-serif
$font-weight-bold = 600

//----------------------------------*\
// PALLETE
//----------------------------------*/

$header-bg = #263238
$header-txt = #ff7043
$header-hightlight = #ff7043
$muted-text-color = #cfd8dc
$section-title = #555
$subtitle = #559cc5
$code-color = #0063ab
$container-color = #F5F5F5

$justify
  display: flex
  align-items: flex-end
  justify-content: space-between

$icon
  color: $muted-text-color
  vertical-align: text-bottom
